

body {

    background-image: url("../images/clock1.jpg");
    background-size:     auto;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
/*    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;*/ 
    margin: 0;
	padding: 0;

};

html{
	height: 100%;
};


.panel-body a {
		    word-break:break-all
		}


#title {
    font-family: 'Baloo Bhai', cursive;
    color: orange;
    font-size: 40px;
}